/* Google Font 적용 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f5f5f5;
}

.navbar {
  background-color: #8bc34a !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem; /* 네비게이션 바 내부 패딩 추가 */
  width: 100%; /* 너비를 100%로 설정하여 화면 전체를 차지하도록 함 */
}

.navbar-brand {
  font-weight: 700;
  color: #ffffff !important;
  margin-right: 2rem; /* 브랜드와 메뉴 사이의 간격 조정 */
}

.navbar-nav {
  margin-left: auto; /* 메뉴를 오른쪽으로 정렬 */
}

.nav-link {
  color: #ffffff !important;
  margin-left: 0.99rem; /* 메뉴 항목 사이의 간격 조정 */
}

.container {
  max-width: 960px;
}

/* 나머지 CSS 코드는 생략 */